:root {
  --bg-primary: #ffffe8;
  --text-color: #473c33;
  --color-delete: #f55050;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  background-color: var(--bg-primary);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.App > h1 {
  color: var(--text-color);
  margin-bottom: 30px;
}

.section-user {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.wrapper-card {
  width: 250px;
  height: 200px;
  border: 1px solid #aacb73;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;
}

.wrapper-card > p {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
}

.wrapper-name {
  position: absolute;
  padding: 0 20px;
  height: 50px;
  bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-name > p {
  font-weight: 700;
  color: var(--text-color);
}

.wrapper-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 30px;
}

.img-user {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.icon-edit {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.icon-delete:hover {
  color: var(--color-delete);
}

.icon-edit:hover {
  color: #aacb73;
}

.wrapper-btn {
  display: flex;
  align-items: center;
}

.wrapper-btn > p {
  font-size: 20px;
}

.wrapper-btn > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.wrapper-btn > button:hover .icon-btn {
  color: #aacb73;
}

.icon-btn {
  width: 40px;
  height: 40px;
  color: var(--text-color);
}

.disable-btn {
  visibility: hidden;
}

.disable-btn:hover .icon-btn {
  color: #473c33 !important;
}

.wrapper-input {
  margin: 10px 0;
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-input > input {
  width: 70%;
  height: 100%;
  padding: 0 10px;
  color: var(--text-color);
  font-family: "Nunito";
  font-weight: 600;
  border: none;
  background-color: #e8e2e2;
  border-radius: 5px;
}

.wrapper-input > button {
  height: 100%;

  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #aacb73;
  font-family: "Nunito";
  font-weight: 600;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add {
  width: 100px;
  height: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #aacb73;
  font-family: "Nunito";
  font-weight: 600;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-input > input:focus {
  outline: 1px solid #aacb73;
}

.wrapper-null {
  width: 100%;
  height: 70%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper-null > h1 {
  font-family: "Nunito";
  font-size: 35px;
  /* margin-bottom: 50px; */
  color: var(--text-color);
}

.wrapper-null p {
  font-size: 70px;
  margin-bottom: 20px;
}

.section-adduser {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-add {
  width: 500px;
  height: 380px;
  background-color: var(--bg-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  padding: 10px;
  font-family: "Nunito";
  color: #473c33;
}

.blur-bg {
  filter: blur(4px);
}

.input-container {
  position: relative;
  margin: 50px 20px;
  border-radius: 5px;
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

label {
  top: 0;
  left: 0;
  right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  background-color: #ececec;
  color: #616161;
  font-family: "Nunito";
}

/* Interation */
input:valid,
input:focus {
  border-bottom: 2px solid #26a69a;
  background-color: var(--bg-primary);
  color: #616161;
}

input:valid + label,
input:focus + label {
  color: #26a69a;
  font-size: 0.8rem;
  top: -40px;
  pointer-events: none;
  color: #616161;
  background-color: var(--bg-primary);
}

.wrapper-btn-adduser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wrapper-null button {
  width: 200px;
  height: 50px;
  margin: 0 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 17px;
  color: var(--text-color);
  background-color: #aacb73;
}

.wrapper-btn-adduser button {
  width: 100px;
  height: 50px;
  margin: 0 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 17px;
  color: var(--bg-primary);
}

.wrapper-btn-adduser button:nth-child(1) {
  background-color: #aacb73;
}

.wrapper-btn-adduser button:nth-child(2) {
  background-color: #f48484;
}

/* RESPONSIVE */

@media screen and (max-width: 500px) {
  .App {
    padding: 50px 0;
  }

  .section-user {
    height: auto;
  }

  .wrapper-input {
    margin-top: 50px;
  }
}
